# deepcode
.dccache

# nodejs
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# parceljs
.parcel-cache

# VSCode user-specific settings
.vscode