/**
 * vars.scss
 */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
$font: 'Inter', sans-serif;
$background-image: url('../img/bg.jpg');
$background-color: #111;
$font-size: 12px;
$line-height: 12px;
