name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Check for codestyle issues
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Check codestyle
        run: yarn run check
